* {
    box-sizing: border-box;
}

body {
    background-color: #1e1e1e;
    margin: 0;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    height: auto;
    padding: 0 3rem 5rem;
}

#title {
    background-image: url("/images/hero.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.title--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.logo-image {
    width: 8rem;
    /* width: 7vw; */
}

.logo-title {
    width: 17rem;
    /* width: 15vw; */
}

.nav-items {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding: 0;
    margin: 0 2vw;
}

.nav-item a{
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.switcher {
    color: white;
    background-color: transparent;
    font-size: 1rem;
    border: none;
    outline: none;
}
  
.option {
    color: black;
    font-size: 1rem;
}

.title-container {
    width: 45%;
    margin-top: 2rem;
}

.title--article p {
    font-size: 1rem;
    line-height: 1rem;
    text-align: justify;
}

.white-button {
    border: none;
    padding: 1rem;
    background-color: white;
}

.white-button a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-size: 0.8rem;
    font-weight: 700;
  }

  .black-arrow {
    height: 0.8rem;
  }

  /* @media only screen and (max-width: 720px) {
    .title-container {
        margin: 0 auto;
    }
  } */

  #mission {
    background-color: #0057B8;
    background-image: url("/images/war-machine.png");
    background-repeat: no-repeat;
    background-size: 50% 100%;
    display: flex;
    padding: 0;
  }

  .column {
    width: 50%;
  }

  .picture {
    display: flex;
    justify-content: right;
    align-items: flex-end;
  }
  
  .picture img {
    width: 50%;
    margin: 2rem;
  }

  .content {
    padding: 3rem 0 6rem;
  }

  .paragraph {
    width: 70%;
    margin: 3rem auto;
  }

  .white {
    text-align: justify;
  }

  .black {
    color: black;
    background-color: white;
    border-radius: 0.5rem;
    padding: 0 1.5rem;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1.1rem;
    text-transform: uppercase;
  }